body {
	margin: 0;
}

header {
	background-color: #444;
	color: #fff;
	padding: 20px;
	font-size: 32px;
	text-align: center;
}

main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
}

main button {
	display: block;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	cursor: pointer;
	outline: none;
	border: 3px solid #000;
	background-color: #f44;
}